<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaani</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <h2 class="logo">Vaani</h2>
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/modules">Modules</a>
            <a href="/practice">Practice</a>
            <a href="/vanitedex">Vanitedex</a>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
